.sle-bid-detail{
    height: 80vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    border-top: 2px solid #427be673;
    margin-top: 100px;
    padding-top: 30px;
}
.bid-customer,
.bid-details{
    height: 50%;
    width: 30%;
    border-right: 2px solid #427be673;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    line-height: 40px;
    font-size: 1.2em;
    color: #0008;
    list-style: none;
    letter-spacing: 1px;
    text-align: left;
}
.bid-details{
    height: 50%;
    width: 30%;
    border-left: 2px solid #427be673;
}
.bid-customer img{
    height: 130px;
    width: 140px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #0005;
    margin-bottom: 30px;
}
.back{
    position: absolute;
    top: 11vmax;
    left: 5vmax;
    text-decoration: none;
}

.back1{
    height: 50px;
    width: 100px;
    border: none;
    color: #fff;
    background: #3e82ff;
    font-size: 1.2em;
    letter-spacing: 1px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.back1:hover{
    background-color: #6096fa;
}

.aup{
    height: 80vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 3em;
    color: #3e82ff;
    text-shadow: 1px 1px 2px #0007;
    margin-top: 70px;
}


.strip{
    position: fixed;
    bottom: 180px;
    right: -140px;
    height: 80px;
    width: 800px;
    transform: rotateZ(-40deg)
    ;
    background: linear-gradient(#6096fa, #0952da);
    box-shadow: 10px 10px 20px #0007;
}


@media (max-width: 1200px){
    .strip{
        bottom: 10px;
    }
}
@media (max-width: 600px){
    .sle-bid-detail{
        display: flex;
        flex-direction: column;
        
    }
    .bid-customer,
    .bid-details{
        
        width: 90%;
    }
    .bid-details{
        height: 50%;
        width: 50%;
        border-top: 2px solid #427be673;
    }
    .strip{
        bottom: 0px;
    }
    .aup{
        font-size: 2em;
        margin-top: -50px;
    }
    .back{
        position: absolute;
        top: 13vmax;
        left: 1vmax;
    }
    .back1 {
        height: 40px;
        width: 80px;
    }
}

@media (max-width: 400px){
    .back{
        position: absolute;
        top: 17vmax;
        left: 1vmax;
    }
    .back1 {
        height: 30px;
        width: 60px;
        font-size: 1rem;
    }
    .ham{
        height: 40px;
        width: 40px;
    }
    .ham li {
        height: 2.5px;
        width: 70%;
    }
    .bid-details{
        width: 70%;
    }
}